* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Glory", sans-serif;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-main {
  flex: 1; /* takes up all available space between header and footer */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
