.site-footer {
  color: var(--text-color);
  padding: 1rem 2rem;
  font-size: 0.9rem;
  margin-top: auto;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-left {
  margin-bottom: 0.5rem;
}

.footer-center {
  flex: 1;
  text-align: center;
  margin: 0.5rem 0;
}
.footer-logo {
  width: 3rem;
  height: auto;
}
.footer-logo:hover {
  transform: scale(1.5);
  transition: transform 0.3s ease;
}

.footer-right a {
  margin-left: 1rem;
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.3s ease;
}

.footer-right a:hover {
  color: var(--accent-color);
}
