.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  width: 18rem;
}

.logo:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nav-links a {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
  color: var(--text-color);
}

.nav-links a.active {
  color: var(--accent-color);
  font-size: 1.1rem;
  font-weight: bold;
}

.nav-links a:hover {
  background-color: var(--primary-color);
  color: var(--hover-text-color);
  font-weight: bold;
}

/* Optional: prevent active hover from overriding active background */
.nav-links a.active:hover {
  background-color: var(--bg-color);
  color: var(--secondary-color);
}
