:root {
  --bg-color: #f6f6f6;
  --text-color: black;

  /* 🎨 Theme Colors */
  --primary-color: #7209b7;
  --secondary-color: #f72585;
  --accent-color: #4895ef;
  --link-color: #4895ef;
  --success-color: #52b788;
  --warning-color: #ffb700;
  --error-color: #f25c54;
  --success-bgcolor: #52b78835;
  --warning-bgcolor: #ffb70035;
  --error-bgcolor: #f25c5435;

  --hover-text-color: #f6f6f6; /* Define this for hover effects */

  /* Other common values */
  --border-radius: 0.5rem;
  --transition-speed: 0.3s;
}

[data-theme="dark"] {
  --bg-color: black;
  --text-color: #f6f6f6;

  /* 🎨 Dark Theme Colors */
  --primary-color: #7209b7;
  --secondary-color: #f72585;
  --accent-color: #4895ef;
  --link-color: #4895ef;
  --success-color: #52b788;
  --warning-color: #ffb700;
  --error-color: #f25c54;
  --success-bgcolor: #52b78835;
  --warning-bgcolor: #ffb70035;
  --error-bgcolor: #f25c5435;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
